@font-face {
  font-family: "iconfont"; /* Project id 3865952 */
  src: url('iconfont.woff2?t=1680761416367') format('woff2'),
       url('iconfont.woff?t=1680761416367') format('woff'),
       url('iconfont.ttf?t=1680761416367') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dt:before {
  content: "\e62e";
}

.icon-fsux_tubiao_gantetu:before {
  content: "\e600";
}

.icon-jilu:before {
  content: "\e615";
}

.icon-a-chatgpt:before {
  content: "\e604";
}

.icon-dianzan:before {
  content: "\e668";
}

.icon-xiaolian:before {
  content: "\ec80";
}

.icon-menu:before {
  content: "\e623";
}

.icon-tongji:before {
  content: "\e61b";
}

.icon-pintu:before {
  content: "\e61e";
}

.icon-bell:before {
  content: "\e8e3";
}

.icon-yiwancheng:before {
  content: "\e613";
}

.icon-jinhangzhong-shijian-daojishi-03:before {
  content: "\e75c";
}

.icon-not_started:before {
  content: "\e60c";
}

.icon-xianxiashanghutuiguang:before {
  content: "\e609";
}

.icon-tijiao:before {
  content: "\e75b";
}

